In [2]:
import pandas

In [3]:
import cats.csv

ModuleNotFoundError: No module named 'cats'

In [4]:
import cats.csv

ModuleNotFoundError: No module named 'cats'

In [5]:
import cats.csv

ModuleNotFoundError: No module named 'cats'

In [6]:
import pandas as pd

In [7]:
import cats.csv

ModuleNotFoundError: No module named 'cats'

In [9]:
pd.read_csv('cats.csv')

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0,Egyptian Mau,12,7,White,Male,181
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907
2,2,Sphynx,9,9,Orange,Male,732
3,3,Oriental,6,7,Gray,Female,464
4,4,Savannah,14,7,Tortoiseshell,Female,451
...,...,...,...,...,...,...,...
995,995,Abyssinian,18,3,Black,Female,347
996,996,Burmese,4,5,Pointed,Female,339
997,997,Persian,19,9,Cream,Male,659
998,998,Persian,17,3,Bicolor,Female,124
999,999,Manx,18,8,Black,Male,226

In [10]:
df = pd.read_csv('cats.csv')

In [14]:
df.head(10)

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0,Egyptian Mau,12,7,White,Male,181
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907
2,2,Sphynx,9,9,Orange,Male,732
3,3,Oriental,6,7,Gray,Female,464
4,4,Savannah,14,7,Tortoiseshell,Female,451
5,5,Oriental,1,6,Black,Male,613
6,6,Balinese,14,4,Blue,Female,856
7,7,Savannah,11,9,Red,Female,98
8,8,Munchkin,6,8,Brown,Female,348
9,9,Manx,2,8,Calico,Male,796

In [16]:
df.head(all)

TypeError: cannot do positional indexing on RangeIndex with these indexers [<built-in function all>] of type builtin_function_or_method

In [17]:
df.head

<bound method NDFrame.head of      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]>

In [20]:
df.head(1000)

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0,Egyptian Mau,12,7,White,Male,181
1,1,Scottish Fold,17,8,Tortoiseshell,Male,907
2,2,Sphynx,9,9,Orange,Male,732
3,3,Oriental,6,7,Gray,Female,464
4,4,Savannah,14,7,Tortoiseshell,Female,451
...,...,...,...,...,...,...,...
995,995,Abyssinian,18,3,Black,Female,347
996,996,Burmese,4,5,Pointed,Female,339
997,997,Persian,19,9,Cream,Male,659
998,998,Persian,17,3,Bicolor,Female,124
999,999,Manx,18,8,Black,Male,226

In [19]:
df.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   Breed        1000 non-null   object
 2   Age (Years)  1000 non-null   int64
 3   Weight (kg)  1000 non-null   int64
 4   Color        1000 non-null   object
 5   Gender       1000 non-null   object
 6   ID           1000 non-null   int64
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

In [23]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [24]:
df.columns()

TypeError: 'Index' object is not callable

In [ ]:
df.drop([])